@keyframes rose{

       0%{ left: 50%;
           top: 0;
           margin-left: -105px;
           background-color: red;
         }
    12.5%{ left: 75%;
           top: 25%;
           background-color: rgb(211, 93, 93);
         }
      25%{  left: 100%;
           top: 50%;
           margin-left: -210px;
           background-color: rgb(255, 158, 158);
         }
    37.5%{  left: 75%;
           top: 75%;
           background-color: rgb(255, 198, 198);
         }
      50%{  left: 50%;
           top: 83.333333%;
           background-color: rgb(228, 148, 165);
         }
    62.5%{ left: 25%;
           top: 75%;
           background-color: rgb(177, 62, 100);
         }
      75%{ left: 0;
           top: 50%;
           margin-left: 0px;
           background-color: rgb(255, 146, 146);
         }
    87.5%{ left: 25%;
           top: 25%;
           background-color: rgb(240, 73, 73);
         }
     100%{ left: 50%;
           top: 0;    
           margin-left: -105px;; 
           background-color: rgba(255, 0, 0, 0.993)
         }
}

@keyframes rose2{

   0%{border: 5px solid red;
    }
12.5%{border: 5px solid rgb(211, 93, 93);
    }
  25%{border: 5px solid rgb(255, 158, 158);
    }
37.5%{border: 5px solid rgb(255, 198, 198);
    }
  50%{border: 5px solid  rgb(228, 148, 165);
    }
62.5%{border: 5px solid  rgb(177, 62, 100);
    }
  75%{border: 5px solid  rgb(255, 146, 146);
    }
87.5%{border: 5px solid  rgb(240, 73, 73);
    }
 100%{border: 5px solid rgba(255, 0, 0, 0.993)
    }
}

@keyframes mood{

    0%{transform: translate(0px,0px) rotate(0deg)}
    20%{transform: translate(150px,0px) rotate(90deg)}
    40%{transform: translate(150px,200px) rotate(180deg)}
    60%{transform: translate(-150px,200px) rotate(270deg)}
    80%{transform: translate(-150px,0px) rotate(360deg)}
    100%{transform: translate(0px,0px) rotate(720deg)}
}

.btn{
    background-color: rgb(0, 0, 0);
    height: 100%;
    border: 5px solid red;
    animation: rose2 7s linear  infinite forwards alternate;
}
#btn-form{
    height: 105px;
    width: 250px;
    position: relative;
    font-size: 30px;
    font-family: 'Times New Roman';
    font-weight: bolder;
    border-radius: 15px;
    border: none;
    background-color: rgb(255, 0, 0);
    animation: rose 7s linear  infinite forwards alternate;
}
                                           

body{
  margin: 0px 0px 0px 0px;
  border: none;
  box-sizing: border-box;
    width: 100%;
    height: 600px;
    background-color: rgb(0, 0, 0)
}

.btn1{
    
    border-radius: 3.333px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.btn-test{
    margin-left: 3px;
    border-radius: 3.333px;
    color: rgb(255, 123, 0);
    background-color: rgb(2, 2, 20);
    font-size: 18px;
    padding: 6.666px;
    height: 40px;
    border: 1.666px solid rgb(255, 123, 0);
}
#btn-test1{
    border-radius: 3.333px;
    color: cyan;
    background-color: rgb(2, 2, 20);
    font-size: 18px;
    padding: 6.666px;
    height: 40px;
    border: 1.666px solid cyan;
}

/*

x == 0px 100px 200px 100px 0px -100px - 200px -100px 0px;

y == 0px 100px 200px 300px 400px 300px 200px 100px 0px;

*/
